body {
    font-family: helvetica, sans-serif;
    font-weight: 600;
}

body,html{
    margin:0;
    padding:0;
}

h1 {
    color: #333;
    padding-top: 1vh;
    padding-left: 1vh;
}

form {
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

#login {
    width: 500px;
    height: 285px;
    padding: 5vh;
    background-color: #f2e255;
    border-radius: 20px;
    box-shadow: black;
    margin: center;
}

.navbar{
    background: linear-gradient(to right, #f2e255,#f2e255)
}

.container{
    padding-top: 10px;
    padding-left: 1vh;
    padding-right: 1vh;
}

#body-login{
    overflow: hidden;
    padding-top: 175px;
    background-image: url(../images/background-login.jpg);
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

footer{
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 40px;
}

.imagen-login{
    text-align: center;
}


.login-text,.login-acceder{
    color: #0056b3;
    text-align: center;
}




/* Estilos del contenedor del toast */
#toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1050;
    max-width: 350px; /* Limitar el tamaño */
    width: 100%; /* Hacer que ocupe el ancho disponible */
}

/* Estilo del toast */
.toast {
    background-color: #007bff; /* Fondo azul */
    color: white; /* Texto blanco */
    border-radius: 10px; /* Bordes redondeados */
    margin-bottom: 10px; /* Espacio entre los toasts */
    padding: 15px;
    font-size: 16px; /* Tamaño de texto adecuado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

/* Cabecera del toast */
.toast-header {
    background-color: #0056b3; /* Fondo más oscuro */
    color: white; /* Texto blanco */
    font-weight: bold;
    border-radius: 10px 10px 0 0; /* Bordes superiores redondeados */
}

/* Cuerpo del toast */
.toast-body {
    font-size: 14px; /* Texto de tamaño más pequeño */
    padding: 10px;
}


