{% extends 'templates/base.html' %}
{% block title %}Gestión de Reemplazo{% endblock %}
{% block content %}


{% if messages %}
<div id="toast-container"
    style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1050; max-width: 350px; width: 100%;">
    {% for message in messages %}
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true"
        style="background-color: #007bff; color: white; border-radius: 10px; margin-bottom: 10px;">
        <div class="toast-header" style="background-color: #0056b3; color: white; border-radius: 10px 10px 0 0;">

        </div>
        <div class="toast-body">
            {{ message }}
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

<div id="div-docente" class="container pt-5">
    <h3>Asignar nuevo Profesor</h3>
    <form id="form-profesor">
        <div class="form-nombre pt-2">
            <label for="primer_nombre" data-last="{{ ultimo_id }}">Primer Nombre</label>
            <input type="text" id="primer_nombre" name="primer_nombre" class="form-control" required>
        </div>
        <div class="form-group pt-3">
            <label for="segundo_nombre">Segundo Nombre</label>
            <input type="text" id="segundo_nombre" name="segundo_nombre" class="form-control">
        </div>
        <div class="form-group pt-3">
            <label for="primer_apellido">Primer Apellido</label>
            <input type="text" id="primer_apellido" name="primer_apellido" class="form-control" required>
        </div>
        <div class="form-group pt-3">
            <label for="segundo_apellido">Segundo Apellido</label>
            <input type="text" id="segundo_apellido" name="segundo_apellido" class="form-control">
        </div>
    </form>
</div>

<div id="div-horario" class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col" class="text-center">#</th>
                {% for dia in dias %}
                <th class="text-center" id="{{dia.id_dia}}">{{ dia.nombre_dia }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for modulo in modulos %}
            <tr>
                <th class="text-center" scope="row" id="{{modulo.id_modulo}}">{{ modulo.hora_modulo }}</th>
                {% for dia in dias %}
                <td>
                    <div class="d-flex align-items-center justify-content-center">
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#asignar"
                            data-modulo-id="{{ modulo.id_modulo }}" data-dia-id="{{ dia.id_dia }}"
                            onclick="obtenerDiaModulo(this)">
                            <span class="material-icons me-2" style="font-size: 16px;">add</span>
                        </button>
                    </div>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="d-grid gap-2 col-3 mx-auto">
        <button class="btn btn-secondary" type="button">Atras</button>
        <button id="btn-horario" class="btn btn-warning" type="button">Establecer horario</button>
    </div>
</div>

<!-- Modal para Asignar Horario -->
<div class="modal fade" id="asignar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Asignar horario</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="asignatura" class="col-form-label">Asignatura</label>
                        <select class="form-control" id="asignatura" onchange="checkOption(this, 'agregarAsignatura')">
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="seccion" class="col-form-label">Jornada</label>
                        <select class="form-control" id="jornada">
                            <option value="">Selecciona una jornada</option>
                            <option value="D">Diurno</option>
                            <option value="V">Vespertino</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="seccion" class="col-form-label">Sección</label>
                        <input type="number" class="form-control" id="seccion" placeholder="Seccion"
                            aria-label="seccion" min="1" max="999" required>
                    </div>
                    <div class="mb-3">
                        <label for="sala" class="col-form-label">Sala</label>
                        <select class="form-control" id="sala" onchange="checkOption(this, 'agregarSalaModal')">
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="carrera" class="col-form-label">Carrera</label>
                        <select class="form-control" id="carrera" onchange="checkOption(this, 'agregarCarreraModal')">
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button id="btn-bloque" type="button" class="btn btn-warning">Establecer bloque</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Agregar Nueva Asignatura -->
<div class="modal fade" id="agregarAsignatura" tabindex="-1" aria-labelledby="agregarAsignaturaLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="agregarAsignaturaLabel">Agregar Nueva Asignatura</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="nueva-asignatura" class="col-form-label">Nombre de Asignatura</label>
                        <input type="text" class="form-control" id="nueva-asignatura">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <button type="button" class="btn btn-warning" onclick="addAsignatura()">Agregar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Agregar Nueva Sala -->
<div class="modal fade" id="agregarSalaModal" tabindex="-1" aria-labelledby="agregarSalaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="agregarSalaModalLabel">Agregar Nueva Sala</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="nueva-sala" class="col-form-label">Nombre de Sala</label>
                        <input type="text" class="form-control" id="nueva-sala">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <button type="button" class="btn btn-warning" onclick="addSala()">Agregar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Agregar Nueva Carrera -->
<div class="modal fade" id="agregarCarreraModal" tabindex="-1" aria-labelledby="agregarCarreraModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="agregarCarreraModalLabel">Agregar Nueva Carrera</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="nueva-carrera" class="col-form-label">Nombre de la Carrera</label>
                        <input type="text" class="form-control" id="nueva-carrera">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <button type="button" class="btn btn-warning" onclick="addCarrera()">Agregar</button>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');

    function checkOption(select, modalId) {
        if (select.value === 'agregar') {
            $(`#${modalId}`).modal('show');
        }
    }


    document.querySelectorAll('.modal.fade').forEach(modal => {
        modal.addEventListener('keydown', function(event) {
            if (event.key === 'Enter') {
                event.preventDefault();
            }
        });
    });

    function obtenerDiaModulo(button) {
        const moduloID = button.getAttribute('data-modulo-id');
        const diaID = button.getAttribute('data-dia-id');
        document.getElementById('btn-bloque').setAttribute('data-modulo-id', moduloID);
        document.getElementById('btn-bloque').setAttribute('data-dia-id', diaID);
    }
    document.getElementById('btn-bloque').addEventListener('click', function () {
        const moduloID = this.getAttribute('data-modulo-id');
        const diaID = this.getAttribute('data-dia-id');
        const asignaturaSelect = document.getElementById('asignatura');
        const asignaturaID = asignaturaSelect.value;
        const asignaturaTexto = asignaturaSelect.options[asignaturaSelect.selectedIndex].text
        const jornadaSelect = document.getElementById('jornada').value;
        const seccionSelect = document.getElementById('seccion').value;
        const salaSelect = document.getElementById('sala');
        const salaTexto = salaSelect.options[salaSelect.selectedIndex].text
        const carreraSelect = document.getElementById('carrera');
        const carreraID = carreraSelect.value;
        const salaID = salaSelect.value;
        if (asignaturaID && jornadaSelect && seccionSelect && salaID && salaID != "agregar" && carreraID && carreraID != "agregar") {
            const array_pos = horariosAsignados.length
            horariosAsignados.push({
                moduloID: moduloID,
                diaID: diaID,
                asignaturaID: asignaturaID,
                jornada: jornadaSelect,
                seccion: seccionSelect,
                salaID: salaID,
                carreraID: carreraID,
                array_pos: array_pos
            });
            actualizarBloque(moduloID, diaID, asignaturaTexto, jornadaSelect, salaTexto, seccionSelect, array_pos);
            $('#asignar').modal('hide');
        } else {
            alert('Por favor, completa todos los campos.');
        }
    });

    let horariosAsignados = [];
    function actualizarBloque(moduloID, diaID, asignatura, jornada, sala, seccion, array_pos) {
        const celda = document.querySelector(`#div-horario table tbody tr:nth-child(${parseInt(moduloID)}) td:nth-child(${parseInt(diaID) + 1})`);
        if (celda) {
            celda.innerHTML = `
                <div class="d-flex flex-column p-2 bg-light border rounded shadow-sm position-relative text-center">
                    <button type="button" class="btn btn-danger btn-sm position-absolute top-0 end-0 m-1" 
                            onclick="desasignarBloque(${moduloID}, ${diaID}, ${array_pos})">
                        <span class="material-icons" style="font-size: 16px;">close</span>
                    </button>
                    <div class="mb-2">
                        <span class="text-primary font-weight-bold">${asignatura}(${jornada})</span>
                    </div>
                    <div class="small text-muted">Sección: ${seccion}</div>
                    <div class="small text-muted">Sala: ${sala}</div>
                </div>
            `;
            console.log("Horarios asignados después de agregar:", horariosAsignados);
        }
    }

    function desasignarBloque(moduloID, diaID, array_pos) {
        console.log(array_pos)
        const celda = document.querySelector(`#div-horario table tbody tr:nth-child(${parseInt(moduloID)}) td:nth-child(${parseInt(diaID) + 1})`);
        if (celda) {
            celda.innerHTML = `
                <div class="d-flex align-items-center justify-content-center">
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#asignar"
                        data-modulo-id="${moduloID}" data-dia-id="${diaID}" onclick="obtenerDiaModulo(this)">
                        <span class="material-icons me-2" style="font-size: 16px;">add</span>
                    </button>
                </div>
            `;
            celda.style.backgroundColor = "";
            horariosAsignados.splice(array_pos, 1)
            console.log(horariosAsignados)
        }
    }

    $(document).ready(function () {
        const ultimoId = $('label[for="primer_nombre"]').data('last');
        $('#btn-horario').on('click', function () {
            const primerNombre = $('#primer_nombre').val().trim();
            const primerApellido = $('#primer_apellido').val().trim();

            if (primerNombre === '' || primerApellido === '') {
                alert('El primer nombre y el primer apellido son obligatorios.');
                return;
            }
            const datosFormulario = {
                profesor: {
                    id: ultimoId,
                    nombre: primerNombre.toUpperCase(),
                    apellido: primerApellido.toUpperCase(),
                    segundo_nombre: $('#segundo_nombre').val().toUpperCase() || '',
                    segundo_apellido: $('#segundo_apellido').val().toUpperCase() || ''
                },
                horarios_asignados: horariosAsignados
            };
            fetch('/crear_profesor_y_horarios/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
                body: JSON.stringify(datosFormulario)
            })
                .then(response => response.json())
                .then(data => {
                    alert('Profesor y horarios creados exitosamente!');
                    console.log(data);
                    window.location.href = '{% url "docente" %}';
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Hubo un error al crear el profesor y los horarios.');
                });
        });
    });

    function obtenerSalas() {
        $.ajax({
            url: '/salas/',
            method: 'GET',
            success: function (data) {
                const select = $('#sala');
                select.empty();
                select.append('<option value="">Selecciona una sala</option>');
                data.forEach(function (sala) {
                    select.append(`<option value="${sala.id_sala}">${sala.numero_sala}</option>`);
                });
                select.append('<option value="agregar">Agregar sala</option>');
            },
            error: function (error) {
                console.log('Error al obtener salas:', error);
            }
        });
    }

    function obtenerAsignaturas() {
        $.ajax({
            url: '/asignaturas/',
            method: 'GET',
            success: function (data) {
                const select = $('#asignatura');
                select.empty();
                select.append('<option value="">Selecciona una asignatura</option>');
                data.forEach(function (asignatura) {
                    select.append(`<option value="${asignatura.id_asignatura}">${asignatura.nombre_asignatura}</option>`);
                });
                select.append('<option value="agregar">Agregar asignatura</option>');
            },
            error: function (error) {
                console.log('Error al obtener asignaturas:', error);
            }
        });
    }

    async function obtenerCarreras() {
        try {
            const response = await fetch('/carreras/', {
                method: 'GET',
                headers: {
                    "X-CSRFToken": csrftoken,
                },
            });
            if (!response.ok) {
                throw new Error(`Error al recibir datos: ${response.statusText}`);
            }
            const data = await response.json();
            console.log(data);

            const select = $('#carrera');
            select.empty();
            select.append('<option value="">Selecciona una carrera</option>');

            data.forEach(function (carrera) {
                select.append(`<option value="${carrera.id_carrera}">${carrera.nombre_carrera}</option>`);
            });
            select.append('<option value="agregar">Agregar carrera</option>');
        } catch (error) {
            console.error('Error al obtener carreras:', error);
        }
    }

    $(document).ready(function () {
        obtenerAsignaturas();
        obtenerSalas();
        obtenerCarreras()
    });

    function addCarrera() {
        const nuevaCarrera = document.getElementById('nueva-carrera').value.trim();
        if (nuevaCarrera === '') {
            alert('Por favor, ingrese un nombre válido para la carrera');
            return;
        }
        const carreraCapitalizada = nuevaCarrera.toUpperCase();
        fetch('/carreras/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            },
            body: JSON.stringify({ nombre: carreraCapitalizada })
        })
            .then(response => response.json())
            .then(data => {
                const newOption = new Option(carreraCapitalizada, data.id);
                console.log(newOption);
                const select = document.getElementById('carrera');
                const options = select.children;
                if (options.length > 1) {
                    select.insertBefore(newOption, options[options.length - 1]);
                } else {
                    select.appendChild(newOption);
                }
                document.getElementById('nueva-carrera').value = '';
                select.value = data.id;
                $('#agregarCarrera').modal('hide');
            })
            .catch(error => {
                console.log('Error al agregar carrera:', error);
                alert('Hubo un error al agregar la carrera.');
            });
    }

    function addAsignatura() {
        const nuevaAsignatura = document.getElementById('nueva-asignatura').value.trim();
        if (nuevaAsignatura === '') {
            alert('Por favor, ingrese un nombre válido para la asignatura');
            return;
        }
        const asignaturaCapitalizada = nuevaAsignatura.toUpperCase();
        fetch('/asignaturas/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            },
            body: JSON.stringify({ nombre: asignaturaCapitalizada })
        })
            .then(response => response.json())
            .then(data => {
                const newOption = new Option(asignaturaCapitalizada, data.id);
                console.log(newOption)
                const select = document.getElementById('asignatura');
                const options = select.children;
                if (options.length > 1) {
                    select.insertBefore(newOption, options[options.length - 1]);
                } else {
                    select.appendChild(newOption);
                }
                document.getElementById('nueva-asignatura').value = '';
                select.value = data.id;
                $('#agregarAsignatura').modal('hide');
            })
            .catch(error => {
                console.log('Error al agregar asignatura:', error);
                alert('Hubo un error al agregar la asignatura.');
            });
    }


    function addSala() {
        let nuevaSala = document.getElementById('nueva-sala').value.trim();

        if (nuevaSala === '') {
            alert('Por favor, ingrese un nombre para la sala.');
            return;
        }
        if (nuevaSala.length !== 4) {
            alert('El nombre de la sala debe tener exactamente 4 caracteres.');
            return;
        }
        nuevaSala = nuevaSala.toUpperCase();

        fetch('/salas/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            },
            body: JSON.stringify({ numero_sala: nuevaSala })
        })
            .then(response => response.json())
            .then(data => {
                const newOption = new Option(nuevaSala, data.id);
                newOption.value = data.id_sala;

                const select = document.getElementById('sala');
                const options = select.children;
                if (options.length > 1) {
                    select.insertBefore(newOption, options[options.length - 1]);
                } else {
                    select.appendChild(newOption);
                }

                document.getElementById('nueva-sala').value = '';
                $('#agregarSalaModal').modal('hide');
            })
            .catch(error => {
                console.log('Error al agregar sala:', error);
                alert('Hubo un error al agregar la sala.');
            });
    }



    document.getElementById('seccion').addEventListener('blur', function () {
        let value = this.value;
        if (!isNaN(value) && value !== '') {
            let numValue = parseInt(value);
            if (numValue > 999) {
                this.value = '';
            } else {
                let formattedValue = String(numValue).padStart(3, '0');
                this.value = formattedValue;
            }
        }
    });
</script>
{% endblock %}