{% extends 'templates/base.html' %}

{% load static %}
{% block title %}Gestión de Reemplazo{% endblock %}
{% block content %}


{% if messages %}
<div id="toast-container"
    style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1050; max-width: 350px; width: 100%;">
    {% for message in messages %}
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true"
        style="background-color: #007bff; color: white; border-radius: 10px; margin-bottom: 10px;">
        <div class="toast-header" style="background-color: #0056b3; color: white; border-radius: 10px 10px 0 0;">

        </div>
        <div class="toast-body">
            {{ message }}
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

<div id="div-docente" class="container pt-5">
    <h3>Asignar nuevo Profesor</h3>
    <form id="form-profesor">
        <div class="form-nombre pt-2">
            <label for="primer_nombre" data-last="{{ ultimo_id }}">Primer Nombre</label>
            <input type="text" id="primer_nombre" name="primer_nombre" class="form-control" required>
        </div>
        <div class="form-group pt-3">
            <label for="segundo_nombre">Segundo Nombre</label>
            <input type="text" id="segundo_nombre" name="segundo_nombre" class="form-control">
        </div>
        <div class="form-group pt-3">
            <label for="primer_apellido">Primer Apellido</label>
            <input type="text" id="primer_apellido" name="primer_apellido" class="form-control" required>
        </div>
        <div class="form-group pt-3">
            <label for="segundo_apellido">Segundo Apellido</label>
            <input type="text" id="segundo_apellido" name="segundo_apellido" class="form-control">
        </div>
    </form>
</div>

<div id="div-horario" class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col" class="text-center">#</th>
                {% for dia in dias %}
                <th class="text-center" id="{{dia.id_dia}}">{{ dia.nombre_dia }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for modulo in modulos %}
            <tr>
                <th class="text-center" scope="row" id="{{modulo.id_modulo}}">{{ modulo.hora_modulo }}</th>
                {% for dia in dias %}
                <td>
                    <div class="d-flex align-items-center justify-content-center">
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#asignar"
                            data-modulo-id="{{ modulo.id_modulo }}" data-dia-id="{{ dia.id_dia }}"
                            onclick="obtenerDiaModulo(this)">
                            <span class="material-icons me-2" style="font-size: 16px;">add</span>
                        </button>
                    </div>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="d-grid gap-2 col-3 mx-auto">
        <button class="btn btn-secondary" type="button">Atras</button>
        <button id="btn-horario" class="btn btn-warning" type="button">Establecer horario</button>
    </div>
</div>

<!-- Modal para Asignar Horario -->
<div class="modal fade" id="asignar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Asignar horario</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="asignatura" class="col-form-label">Asignatura</label>
                        <select class="form-control" id="asignatura" onchange="checkOption(this, 'agregarAsignatura')">
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="seccion" class="col-form-label">Jornada</label>
                        <select class="form-control" id="jornada">
                            <option value="">Selecciona una jornada</option>
                            <option value="D">Diurno</option>
                            <option value="V">Vespertino</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="seccion" class="col-form-label">Sección</label>
                        <input type="number" class="form-control" id="seccion" placeholder="Seccion"
                            aria-label="seccion" min="1" max="999" required>
                    </div>
                    <div class="mb-3">
                        <label for="sala" class="col-form-label">Sala</label>
                        <select class="form-control" id="sala" onchange="checkOption(this, 'agregarSalaModal')">
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="carrera" class="col-form-label">Carrera</label>
                        <select class="form-control" id="carrera" onchange="checkOption(this, 'agregarCarreraModal')">
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button id="btn-bloque" type="button" class="btn btn-warning">Establecer bloque</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Agregar Nueva Asignatura -->
<div class="modal fade" id="agregarAsignatura" tabindex="-1" aria-labelledby="agregarAsignaturaLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="agregarAsignaturaLabel">Agregar Nueva Asignatura</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="nueva-asignatura" class="col-form-label">Nombre de Asignatura</label>
                        <input type="text" class="form-control" id="nueva-asignatura">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <button type="button" class="btn btn-warning" onclick="addAsignatura()">Agregar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Agregar Nueva Sala -->
<div class="modal fade" id="agregarSalaModal" tabindex="-1" aria-labelledby="agregarSalaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="agregarSalaModalLabel">Agregar Nueva Sala</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="nueva-sala" class="col-form-label">Nombre de Sala</label>
                        <input type="text" class="form-control" id="nueva-sala">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <button type="button" class="btn btn-warning" onclick="addSala()">Agregar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Agregar Nueva Carrera -->
<div class="modal fade" id="agregarCarreraModal" tabindex="-1" aria-labelledby="agregarCarreraModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="agregarCarreraModalLabel">Agregar Nueva Carrera</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="nueva-carrera" class="col-form-label">Nombre de la Carrera</label>
                        <input type="text" class="form-control" id="nueva-carrera">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <button type="button" class="btn btn-warning" onclick="addCarrera()">Agregar</button>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/crearDocente.js' %}"></script> 
{% endblock %}