{% extends 'templates/base.html' %}

{% block title %}Gestión de Recuperación{% endblock %}

{% block content %}

<div class="container">
    <h1>Gestión de Recuperación</h1>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    </div>
    <form method="POST" id="search-form">
        <div class="input-group mb-3">
            <input type="text" name="filter" class="form-control" placeholder="Buscar por nombre docente...">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </form>

    <div class="mb-3">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#extraLargeModal">Agregar
            Recuperación</button>
    </div>

    <!-- Modal para agregar recuperación -->
    <div class="modal fade" id="extraLargeModal" tabindex="-1" aria-labelledby="extraLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="extraLargeModalLabel">Agregar Recuperación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="recuperacion-form">
                    <div class="modal-body">
                        <div class="mb-3">
                            <select id="profesor" name="profesor" class="form-select" required>
                                <option value="">Selecciona un profesor</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <select id="profesor-asignatura" name="profesor-asignatura" class="form-select" required>
                                <option value="">Seleccione una asignatura</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="numero_modulos" class="form-label">Número de Módulos</label>
                            <input type="number" name="numero_modulos" id="numero_modulos" class="form-control"
                                required>
                        </div>
                        <div class="mb-3">
                            <label for="fecha_clase" class="form-label">Fecha de Clase</label>
                            <input type="date" name="fecha_clase" id="fecha_clase" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="fecha_recuperacion" class="form-label">Fecha de Recuperación</label>
                            <input type="date" name="fecha_recuperacion" id="fecha_recuperacion" class="form-control"
                                required>
                        </div>
                        <div class="mb-3">
                            <label for="hora_recuperacion" class="form-label">Hora de Recuperación</label>
                            <input type="time" name="hora_recuperacion" id="hora_recuperacion" class="form-control"
                                required>
                        </div>
                        <div class="mb-3">
                            <label for="sala" class="form-label">Sala</label>
                            <select name="sala" id="sala" class="form-control" required>
                                <option value="">Selecciona una sala</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Guardar Recuperación</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    {% if messages %}
    <div class="alert alert-success">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Profesor</th>
                <th>Asignatura</th>
                <th>Número de Módulos</th>
                <th>Fecha de Clase</th>
                <th>Fecha de Recuperación</th>
                <th>Hora de Recuperación</th>
                <th>Sala</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for rec in recuperaciones %}
            <tr>
                <td>{{ rec.id_recuperacion }}</td>
                <td>{{ rec.profesor }}</td>
                <td>{{ rec.asignatura }}</td>
                <td>{{ rec.numero_modulos }}</td>
                <td>{{ rec.fecha_clase }}</td>
                <td>{{ rec.fecha_recuperacion }}</td>
                <td>{{ rec.hora_recuperacion }}</td>
                <td>{{ rec.sala }}</td>
                <td>
                    <button class="btn btn-danger" data-id="{{ rec.id_recuperacion }}" onclick="eliminarRecuperacion(this)">Eliminar</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<!-- Modal para editar recuperación -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Editar Recuperación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="edit-recuperacion-form">
                <input type="hidden" id="edit_id" name="edit_id">
                <div class="mb-3">
                    <label for="numero_modulos" class="form-label">Número de Módulos</label>
                    <input type="text" class="form-control" id="numero_modulos" name="numero_modulos">
                </div>
                <div class="mb-3">
                    <label for="fecha_clase" class="form-label">Fecha de Clase</label>
                    <input type="date" class="form-control" id="fecha_clase" name="fecha_clase">
                </div>
                <div class="mb-3">
                    <label for="fecha_recuperacion" class="form-label">Fecha de Recuperación</label>
                    <input type="date" class="form-control" id="fecha_recuperacion" name="fecha_recuperacion">
                </div>
                <div class="mb-3">
                    <label for="hora_recuperacion" class="form-label">Hora de Recuperación</label>
                    <input type="time" class="form-control" id="hora_recuperacion" name="hora_recuperacion">
                </div>
                <div class="mb-3">
                    <label for="sala" class="form-label">Sala</label>
                    <input type="text" class="form-control" id="sala" name="sala">
                </div>
                <button type="submit" class="btn btn-primary">Actualizar</button>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="agregarSalaModal" tabindex="-1" aria-labelledby="agregarSalaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="agregarSalaModalLabel">Agregar Nueva Sala</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="nueva-sala" class="col-form-label">Nombre de Sala</label>
                        <input type="text" class="form-control" id="nueva-sala">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <button type="button" class="btn btn-warning" onclick="addSala()">Agregar</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        obtenerSalas()
        fetch('/docente_recuperación/')
            .then(response => {
                if (!response.ok) {
                    throw new Error('Red error: ' + response.statusText);
                }
                return response.json();
            })
            .then(data => {
                const profesorSelect = document.getElementById('profesor');
                const profesores = data.profesores;
                if (profesores.length > 0) {
                    profesores.forEach(profesor => {
                        let nombreCompleto = `${profesor.nombre} ${profesor.apellido}`;
                        if (profesor.segundo_nombre) {
                            nombreCompleto = `${profesor.nombre} ${profesor.segundo_nombre} ${profesor.apellido}`;
                        }
                        if (profesor.segundo_apellido) {
                            nombreCompleto = `${profesor.nombre} ${profesor.segundo_nombre || ''} ${profesor.apellido} ${profesor.segundo_apellido}`;
                        }
                        const option = document.createElement('option');
                        option.value = profesor.id_profesor;
                        option.textContent = nombreCompleto.trim();
                        profesorSelect.appendChild(option);
                    });
                } else {
                    const option = document.createElement('option');
                    option.value = '';
                    option.textContent = 'No hay docentes.';
                    profesorSelect.appendChild(option);
                }
            })
            .catch(error => {
                console.error('Error al obtener los datos:', error);
            });
    });

    function eliminarRecuperacion(button) {
    const idRecuperacion = button.getAttribute('data-id');
    
    if (confirm("¿Estás seguro de que deseas eliminar esta recuperación?")) {
        fetch(`/eliminar-recuperacion/${idRecuperacion}/`, {
            method: 'DELETE',  
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken')  
            },
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert('Recuperación eliminada correctamente');
                window.location.reload(); 
            } else {
                alert(data.message || 'Hubo un error al eliminar la recuperación');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Ocurrió un error al eliminar la recuperación');
        });
    }
}

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');

    function obtenerSalas() {
        fetch('/salas/')
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error en la red: ' + response.statusText);
                }
                return response.json();
            })
            .then(data => {
                const select = document.getElementById('sala');
                select.innerHTML = '';
                select.innerHTML = '<option value="">Selecciona una sala</option>';
                data.forEach(function (sala) {
                    select.innerHTML += `<option value="${sala.id_sala}">${sala.numero_sala}</option>`;
                });
                select.innerHTML += '<option value="agregar">Agregar sala</option>';
            })
            .catch(error => {
                console.log('Error al obtener salas:', error);
            });
    }

    function addSala() {
        let nuevaSala = document.getElementById('nueva-sala').value;
        if (nuevaSala.trim() === '') {
            alert('Por favor, ingrese un número para la sala.');
            return;
        }
        nuevaSala = nuevaSala.charAt(0).toUpperCase() + nuevaSala.slice(1);
        fetch('/salas/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            },
            body: JSON.stringify({ numero_sala: nuevaSala })
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error al agregar sala: ' + response.statusText);
                }
                return response.json();
            })
            .then(response => {
                alert('Sala agregada: ' + nuevaSala);
                $('#agregarSalaModal').modal('hide');
                obtenerSalas();
            })
            .catch(error => {
                console.log('Error al agregar sala:', error);
                alert('Hubo un error al agregar la sala.');
            });
    }

    document.getElementById('sala').addEventListener('change', function () {
        const selectedValue = this.value;

        if (selectedValue === 'agregar') {
            const myModal = new bootstrap.Modal(document.getElementById('agregarSalaModal'));
            myModal.show();
        }
    });


    document.getElementById('profesor').addEventListener('change', function () {
        const profesorSelect = document.getElementById('profesor');
        const selectedOption = profesorSelect.options[profesorSelect.selectedIndex];
        const profesorNombre = selectedOption.innerHTML;
        const profesorId = profesorSelect.value;

        if (!profesorId) {
            return;
        }
        fetch(`/docente_asignatura/${profesorId}/`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Red error: ' + response.statusText);
                }
                return response.json();
            })
            .then(data => {
                const asignaturaSelect = document.getElementById('profesor-asignatura');
                const asignaturas = data.asignaturas;
                asignaturaSelect.innerHTML = '';
                if (asignaturas.length > 0) {
                    asignaturas.forEach(asignatura => {
                        const option = document.createElement('option');
                        option.value = asignatura.id_asignatura;
                        option.textContent = asignatura.nombre_asignatura;
                        asignaturaSelect.appendChild(option);
                    });
                } else {
                    const option = document.createElement('option');
                    option.value = '';
                    option.textContent = 'No hay asignaturas asociadas al profesor.';
                    asignaturaSelect.appendChild(option);
                }
            })
            .catch(error => {
                console.error('Error al obtener los datos:', error);
            });
    });

    document.getElementById('recuperacion-form').addEventListener('submit', function (event) {
        event.preventDefault();
        const profesorSelect = document.getElementById('profesor');
        const selectedOption = profesorSelect.options[profesorSelect.selectedIndex];
        const profesorNombre = selectedOption.innerHTML;
        const asignaturaSelect = document.getElementById('profesor-asignatura');
        const selectedAsign = asignaturaSelect.options[asignaturaSelect.selectedIndex];
        const asignaturaNombre = selectedAsign.innerHTML;
        const profesorId = profesorSelect.value;
        const formData = new FormData(event.target);
        const salaSelect = document.getElementById('sala');
        const selectSala = salaSelect.options[salaSelect.selectedIndex];
        const salaNombre = selectSala.innerHTML;
        const data = {};
        data.profesorNombre = profesorNombre
        data.asignaturaNombre = asignaturaNombre
        data.salaNombre = salaNombre
        formData.forEach((value, key) => {
            data[key] = value;
        });

        fetch('{% url "registrar_recuperacion" %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken'),
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(responseData => {
                if (responseData.success) {
                    alert('Recuperación registrada correctamente.');
                } else {
                    alert('Error al registrar la recuperación.');
                }
            })
            .catch(error => {
                console.error('Error al enviar los datos:', error);
                alert('Hubo un error al procesar la solicitud.');
            });
    });

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    $('#editModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var editId = button.data('id');
        var numeroModulos = button.data('numero_modulos');
        var fechaClase = button.data('fecha_clase');
        var fechaRecuperacion = button.data('fecha_recuperacion');
        var horaRecuperacion = button.data('hora_recuperacion');
        var sala = button.data('sala');
        $('#edit_id').val(editId);
        $('#numero_modulos').val(numeroModulos);
        $('#fecha_clase').val(fechaClase);
        $('#fecha_recuperacion').val(fechaRecuperacion);
        $('#hora_recuperacion').val(horaRecuperacion);
        $('#sala').val(sala);
    });


</script>

{% endblock %}