{% extends 'templates/base.html' %}
{% load static %}
{% block title %}Gestión de Reemplazos{% endblock %}
{% block content %}
<div class="container">
    <h1>Gestión de Reemplazos</h1>



    <div class="w-50 p-1">
        {% if request.user.is_staff %}
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#extraLargeModal">Agregar
            Reemplazo</button>
        {% endif %}
    </div>

    <div class="modal fade" id="extraLargeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Formulario de Reemplazo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form id="reemplazo-form">
                        <div class="mb-3">
                            <label for="docente" class="form-label">Docente:</label>
                            <select id="docente" name="docente" class="form-select" required>
                                <option value="">Selecciona un docente con licencia</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="clases" class="form-label">Clases a Reemplazar:</label>
                            <table id="tabla-clases" class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Semana</th>
                                        <th scope="col">Asignatura</th>
                                        <th scope="col">Sección</th>
                                        <th scope="col">Sala</th>
                                        <th scope="col">Módulo</th>
                                        <th scope="col">Día</th>
                                        <th scope="col">Fecha de Clase</th>
                                        <th scope="col">Profesor Reemplazante</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="no-clases">
                                        <td colspan="8" class="text-center">Selecciona un docente para ver las clases.
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <button type="submit" id="envio" class="btn btn-primary w-100">Registrar Reemplazo</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th class="text-center">Semana</th>
                <th class="text-center">Profesor</th>
                <th class="text-center">Asignatura</th>
                <th class="text-center">Sección</th>
                <th class="text-center">Sala</th>
                <th class="text-center">Módulo</th>
                <th class="text-center">N° de Módulos</th>
                <th class="text-center">Día</th>
                <th class="text-center">Fecha de Clase</th>
                <th class="text-center">Profesor Reemplazante</th>
                {% if request.user.is_staff %}
                <th class="text-center">Acciones</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for reemplazo in reemplazos %}
            <tr>
                <td class="text-center">{{ reemplazo.semana }}</td>
                <td class="text-center">{{ reemplazo.profesor_nombre }}</td>
                <td class="text-center">{{ reemplazo.nombre_asignatura }}</td>
                <td class="text-center">{{ reemplazo.seccion }}</td>
                <td class="text-center">{{ reemplazo.numero_sala }}</td>
                <td class="text-center" id="reg_mod" data-remp_id="{{reemplazo.id_modulo}}">{{ reemplazo.hora_modulo }}
                </td>
                <td class="text-center">{{ reemplazo.registros }}</td>
                <td class="text-center" id="reg_dia" data-dia_id="{{reemplazo.id_dia}}">{{ reemplazo.nombre_dia }}</td>
                <td class="text-center">{{ reemplazo.fecha_reemplazo }}</td>
                <td class="text-center">
                    {{ reemplazo.profesor_reemplazo }}
                </td>
                <td>
                    <div class="d-flex">
                        {% if request.user.is_staff %}
                        <button class="btn btn-warning btn-edit me-2" id="btn-edit-{{ reemplazo.id_reemplazo }}"
                            data-bs-toggle="modal" data-bs-target="#editModal" data-semana="{{ reemplazo.semana }}"
                            data-profesor="{{ reemplazo.profesor_nombre }}"
                            data-asignatura="{{ reemplazo.nombre_asignatura }}" data-seccion="{{ reemplazo.seccion }}"
                            data-sala="{{ reemplazo.numero_sala }}" data-modulo="{{ reemplazo.hora_modulo }}"
                            data-num_modulo="{{ reemplazo.registros }}" data-dia="{{ reemplazo.nombre_dia }}"
                            data-fecha="{{ reemplazo.fecha_reemplazo }}"
                            data-profesor_remp="{{ reemplazo.profesor_reemplazo }}">
                            <i class="material-icons me-2">edit</i>
                        </button>
                        {% endif %}
                    </div>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="11" class="text-center">No hay registros de clases de reemplazo.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar Reemplazo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="mb-3">
                        <label for="clases" class="form-label">Clases a Reemplazar:</label>
                        <table id="tabla-clases" class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Semana</th>
                                    <th scope="col">Profesor</th>
                                    <th scope="col">Asignatura</th>
                                    <th scope="col">Sección</th>
                                    <th scope="col">Sala</th>
                                    <th scope="col">Módulo</th>
                                    <th scope="col">Día</th>
                                    <th scope="col">Fecha de Clase</th>
                                    <th scope="col">Profesor Reemplazante</th>
                                </tr>
                            </thead>
                            <tbody id="body-edit">
                            </tbody>
                        </table>
                        <div class="modal-footer">
                            <button type="submit" id="actualizar" class="btn btn-warning w-100">Actualizar
                                Reemplazo</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/reemplazo.js' %}"></script> 
    {% endblock %}