{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PGR</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body id="body-login" class="container mt-5 d-flex flex-column flex-md-row justify-content-around align-items-start">
    <div class="imagen-login" class="container mt-5">
        <img src="{% static 'images/PGR.png' %}" width="200" height="200">
        <h1 class="login-text">
            <span style="display: block;">Bienvenido a</span>
            <span style="display: block;">Plataforma</span>
            <span>Gestión de Reemplazos</span>
        </h1>
    </div>


    <div id="login" class="container mt-5">
        <h2 class="login-acceder">Acceder</h2>
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <div class="input-group mb-3">
                <span class="input-group-text">
                    <i class="material-icons">account_circle</i>
                </span>
                <input type="text" name="usuario" class="form-control" placeholder="Usuario" aria-label="usuario"
                    required>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">
                    <i class="material-icons">password</i>
                </span>
                <input type="password" name="password" class="form-control" placeholder="Contraseña"
                    aria-label="password" required>
            </div>
            {% if messages %}
            <div>
                {% for message in messages %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
                {% endfor %}
            </div>
            <script>
                localStorage.setItem('hasMessages', 'true');
            </script>
            {% endif %}
            <div class="d-grid gap-2 col-6 mx-auto">
                <button type="submit" class="btn btn-primary btn-lg">
                    <i class="material-icons me-2">login</i> Ingresar
                </button>
            </div>
        </form>
    </div>

    <footer class="bg-light text-center text-lg-start mt-5">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2024 :
            <a class="text-dark" href="#">GPI</a>
        </div>
    </footer>

    <script>
        window.onload = function () {
            var login = document.getElementById('login');
            if (localStorage.getItem('hasMessages') === 'true') {
                login.style.height = (login.offsetHeight + 55) + 'px';
                localStorage.removeItem('hasMessages');
            }
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>