{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPI</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <img src="{% static 'images/PGR.png' %}" width="80" height="80">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profesores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="reemplazos">Gestion de Reemplazo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="recuperacion">Recuperacion de Clases </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Reportes</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div id="login" class="container mt-5">
        <form action="">
            <div class="input-group mb-3">
                <span class="input-group-text">
                    <i class="material-icons">account_circle</i>
                </span>
                <input type="text" class="form-control" placeholder="Usuario" aria-label="usuario">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">
                    <i class="material-icons">password</i>
                </span>
                <input type="password" class="form-control" placeholder="Contraseña" aria-label="password">
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <i></i>
                <button type="button" class="btn btn-success btn-lg">
                    <i class="material-icons me-2">login</i> Ingresar
                </button>
            </div>
        </form>
    </div>

    <footer class="bg-light text-center text-lg-start mt-5">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2024 :
            <a class="text-dark" href="#">GPI</a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>