{% extends 'templates/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'core/css/style.css' %}">
<link rel="stylesheet" href="{% static 'core/bootstrap/css/bootstrap.min.css' %}">
{% block extra_css %}{% endblock %}
{% endblock css %}
{% block content %}

<div class="container">
    <h1 class="text-center">REPORTES</h1>

    <div class="d-flex justify-content-center gap-5">
        <button type="button" class="btn btn-warning btn-block mt-3" id="formReemplazo">Generar informe de
            Reemplazos</button>
        <button type="button" class="btn btn-success btn-block mt-3" id="formDARA">Generar informe DARA</button>
    </div>

    <div id="reporte_reemplazo">
    </div>

    <div id="reporte_dara">
    </div>

    <div id="reporte-section" class="report-section mt-3">
    </div> 
</div>

<script src="{% static 'js/reporte.js' %}"></script>

{% endblock %}